@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --color-black: #010001;
  color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  background-color: #010001;
  color: #fff;
}

*::selection {
  color: #010001;
  background-color: white;
}

.glow {
  box-shadow: #353757 0 0 90px 33px;
  background-color: #353757;
  border-radius: 9999px;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .slick-slide > div {
    margin: 0 5px;
  }
  .caset {
    width: 14rem;
  }
}
.slick-slide > div {
  margin: 0 10px;
}

.slick-slide {
  transition: 1s;
}

.slick-current {
  padding-top: 150px;
}

.text-gradient {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  scroll-behavior: smooth;
}
