.parent {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.div1 {
  grid-area: 1 / 1 / 8 / 4;
}
.div2 {
  grid-area: 1 / 4 / 4 / 8;
}
.div3 {
  grid-area: 4 / 4 / 8 / 7;
}
.div4 {
  grid-area: 4 / 7 / 8 / 8;
}
.div5 {
  grid-area: 1 / 8 / 2 / 10;
}
.div6 {
  grid-area: 2 / 8 / 6 / 10;
}
.div7 {
  grid-area: 6 / 8 / 8 / 10;
}
